[Unit]
Description=Create a Colorado Traffic Tracker database backup each day

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
