[Unit]
Description=Create a Colorado Traffic Tracker database backup each week

[Timer]
OnCalendar=Sun *-*-* 03:30:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
